.sidebar {
    background-color: $sidebar-bgcolor;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    position: sticky;
    width: 13%;
    height: 100vh;
    top: 0;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    a:hover {
        color: #04AA6D;
    }

    img {
        border-radius: 50%;
        border: 2px solid #CA7D60;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    li {
        margin-top: 20px;
    }

}